body{
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}
/*FOR THE BODY BACKGROUND IMAGE */
body::before{
content:"";
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
background-image: url('/libary.jpg');
background-size:cover;
background-repeat:no-repeat;
background-position:center;
filter:blur(2px);
z-index:-2;
}
/*container for create your own profile*/
.userslog{
background-color:rgba(228, 137, 0, 0.548);
color:rgb(255, 255, 255);
text-align: center;
padding:200px;
text-shadow: 
-1px -1px 0 black,  
1px -1px 0 black,
-1px 1px 0 black,
1px 1px 0 black; 
}
/*only for THE TEXT pulblic libary*/
.header{
position:relative;
text-align: center;
color:aliceblue;
padding:1px;
font-family:Merriweather;
text-shadow: 
-1px -1px 0 black,  
1px -1px 0 black,
-1px 1px 0 black,
1px 1px 0 black; 
background-color: brown;
}
/*the botttom of the webpage*/
footer{
position:fixed;
bottom:0;
left:0;
width:100%;
text-align:center;
padding:30px 0px;
background-color: rgb(127, 69, 165);
}
/*the home, about etc link area*/
nav{
position:relative;
background-color: rgb(21, 63, 17);
display:flex;
justify-content: center;
width:auto;
}
ul li {
padding:0px 50px;
}
ul{
background-color: aqua;
list-style-type:none;
display:flex;
padding:0;
}
li{
background-color: rgb(224, 138, 24);
padding:15px;
}
a{
background-color: rgb(232, 6, 240);
text-decoration:none;
color: aliceblue;
}
/*the home and about link ends here*/

/*screen size for half the size of the desktop*/
@media (max-width:1000px) {
nav{
background-color: rgb(21, 63, 17);
display:flex;
justify-content: center;
width:auto;
margin-top:50px;
}
}