body {
    background-color: #6e5f5f; /* Light gray background */
    display: grid;
    place-items: center;
}

* {
    box-sizing: border-box; /* Apply border-box to all elements */
}
.container{
    position: relative;
            width: 610px;
            height:610px;
            background-color: #48a8b9;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.3);
            display: grid;
            grid-template-columns: repeat(15, 1fr);
            grid-template-rows: repeat(15, 1fr);
            padding: 10px;
            gap: 0;
            margin-top:1px;
}
.cell {
    background-color: #fcfdff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border:1px ridge rgba(0, 0, 0, 0.521);
}

.button-container {
    position: absolute;
    top:75%;
    left:20%;
    transform: translateX(-50px, -50px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.game-button{
    width:80px;
    background-color: #b60b0b; /* Red background */
    color: white; /* White text */
    border:1px solid rgb(211, 23, 23); /* No border */
    padding: 10px 20px; /* Padding around the text */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block element */
    font-size: 16px; /* Font size */
    position:relative;
    right:150px; 
    top:18px;
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 10px; /* Rounded corners */
}
.game-button:active {
    transform: scale(0.9); /* Slightly shrink the button size */
    transition: transform 0.3s ease-in-out; /* Smooth transition with a longer duration */
    border:1px solid rgb(66, 11, 11)
}
.game-button:disabled {
    background-color:#b60b0b;
    cursor: not-allowed;
}
.dice-container {
    position:absolute;
    top:100%;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    gap: 20px;
}
.dice-box {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid #b60b0b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:5%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.dice-box:active{
    transform: scale(0.95); /* Slightly shrink the button */
    transition: transform 0.1s ease-in-out; /* Smooth transition */   
}
.dice-box.selected {
    background-color: #ffcccc;
    border-color: #b60b0b;
    box-shadow: 0 0 10px rgba(182, 11, 11, 0.5);
}
.dice-box.disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
}
.sum-box {
    background-color: #f0f0f0;
}
.sum-box:active{
    transform: scale(0.95); /* Slightly shrink the button */
    transition: transform 0.1s ease-in-out; /* Smooth transition */
}
.instructions {
    position:relative;
    top:10%;
    text-align: center;
    font-size: 18px;
    color: #badee0;
    display:flex;
    justify-content: center; /* Center child elements horizontally */
    align-items: center; /* Center child elements vertically */
}


.red-circle-a::after {
    content: 'A';
    position :absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: radial-gradient(circle at 30% 30%, #ff5e5e, #cc0000);
    border-radius: 50%; /* Makes it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; /* Font size for content inside the circle */
    font-weight: bold; /* Bold text */
    text-align: center;
     z-index: 10;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgb(61, 60, 60);
    border: 2px solid rgba(124, 5, 5, 0.3);
}
.red-circle-b::after {
    content: 'B';
    position :absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: radial-gradient(circle at 30% 30%, #ff5e5e, #cc0000);
    border-radius: 50%; /* Makes it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; /* Font size for content inside the circle */
    font-weight: bold; /* Bold text */
    text-align: center;
     z-index: 10;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgb(61, 60, 60);
    border: 2px solid rgba(124, 5, 5, 0.3);
}
.red-circle-c::after {
    content: 'C';
    position :absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: radial-gradient(circle at 30% 30%, #ff5e5e, #cc0000);
    border-radius: 50%; /* Makes it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; /* Font size for content inside the circle */
    font-weight: bold; /* Bold text */
    text-align: center;
     z-index: 10;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgb(61, 60, 60);
    border: 2px solid rgba(124, 5, 5, 0.3);
}
.red-circle-d::after {
    content: 'D';
    position :absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: radial-gradient(circle at 30% 30%, #ff5e5e, #cc0000);
    border-radius: 50%; /* Makes it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; /* Font size for content inside the circle */
    font-weight: bold; /* Bold text */
    text-align: center;
     z-index: 10;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgb(61, 60, 60);
    border: 2px solid rgba(124, 5, 5, 0.3);
}
.red-cel{
    background-color: rgb(112, 7, 7);
    position: relative;
}
.green-cel{
    background-color: rgb(4, 88, 4);
}
.blue-cel{
    background-color: rgb(2, 8, 87);
}
.yellow-cel{
    background-color: rgb(138, 95, 3);
}
.cell-6::after {
  content: '';
  position:absolute;
  width: 10%;
  height: 20%;
  background: rgb(112, 7, 7);
   clip-path: polygon(13% 0%, 13% 100%, 100% 50%);
  transform : translate(-26%, -34%);
  z-index:2;
}
.cell-4:after {
  content: '';
  position:absolute;
  width: 10%;
  height: 20%;
  background: rgb(2, 8, 87);
   clip-path: polygon(6% 50%,90% 100%, 90% 0%);
  transform : translate(-38%, -34%);
  z-index:2;
}
.cell-2:after {
  content: '';
  position:absolute;
  width: 20%;
  height:18%;
  background: rgb(138, 95, 3);
  clip-path: polygon(50% 0%,100% 60%, 0% 60%);
  transform : translate(-40%, -24%);
}
.cell-3:after {
  content: '';
  position:absolute;
  width: 20%;
  height:17%;
  background: rgb(4, 88, 4);
  clip-path: polygon(100% 0%,50% 70%, 0% 0%);
  transform : translate(-40%, 0%);
}

 @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Orbitron&display=swap');
.cell-middle:after {
  content: 'HOME';
  position:absolute;
  background-color: #85e7f869;
  transform : translate(-80%, 40%);
  color:rgb(0, 0, 0);
  z-index:5;
  font-weight: 800;
  font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 8px rgba(0, 255, 255, 2.9);
    animation: pulse-glow 1s infinite alternate;
}
@keyframes pulse-glow {
  0% { box-shadow:0 0 15px rgba(18, 247, 247, 1.9); }
  100% { box-shadow: 0 0 20px rgba(7, 211, 238, 0.8); }
}
.red {
    background-color: rgb(112, 7, 7);
    justify-content: center;
    align-items: center;
    border:1px ridge rgba(0, 0, 0, 0.521);
}
.green {
    background-color: rgb(4, 88, 4);
    justify-content: center;
    align-items: center;
    border:1px ridge rgba(0, 0, 0, 0.521);
}
.blue {
    background-color:rgb(2, 8, 87);
    justify-content: center;
    align-items: center;
    border:1px ridge rgba(0, 0, 0, 0.521);
}
.yellow {
    background-color: rgb(138, 95, 3);
    justify-content: center;
    align-items: center;
    border:1px ridge rgba(0, 0, 0, 0.521);
}