body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}

.flex-container {
    border: 3px dashed darkcyan;
    background-color: lightyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
}

.flex-item {
    width: 250px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 0.5rem;
    background-color: #bbb;
    color: #333;
}

.item1 {
    min-height: 100px;
}

.item2 {
    min-height: 200px;
}

.item3 {
    min-height: 300px;
}
nav{
    background-color: rgb(32, 8, 128);
    padding:0.5rem;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    flex:1 1 100%;
}
nav li a{
    padding:0.5rem;
    color: #fff;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(117, 117, 129);
    padding: 1rem;
    grid-gap: 1rem;
}
.item{
    border: 1px solid rgba(53, 4, 4, 0.2);
    padding: 1rem;
    background-color: aqua;
    font-size: 1.5rem;
    text-align: center;
}
/*gcss grid */
.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
}

.path_video, .home-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1, aside {
    text-align: center;
}

/* Your existing styles below */
.path_video {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
}
aside {
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.path_title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    position: absolute;  
    top: 20px;  
    left: 25%;
    color: white;  
    font-size: 2.5rem;
    z-index: 1;   
    margin:1rem;
}

/*css grid end here*/