* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-background-color: #f06;
  --heading-text-color: #333;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgb(0 0 0 / 0.1);
  --font-size: 20px;
}

nav{
    background-color:var(--heading-background-color);
    padding:var(--padding);
    display: flex;
}
nav a{
    color:var(--heading-text-color);
    display:block;
    padding:20px;
    font: var(--heading-font);
    text-decoration: none;
}
h1{
    color:darkblue;
    text-align: center;
}

main{
    margin: 2px;
}

main img{
    display: block;
    width:150px;
    height:auto;
    border:1px solid black;
    padding:2px;
    box-shadow: 0 0 30px grey;
    margin:0 auto;
    float:right;
}

p{
    padding:0;
}

aside {
    width: 300px;
}

aside h2{
    position:relative;
    left:70px;
    top:25px;
    font:var(--heading-font);
    font-size: var(--font-size);
}
aside img{
    width:200px;
    height: auto;
}
footer{
    margin-top: 15px;
    border: var(--border); 
    text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(255, 0, 0, 0.1);
  padding: 1rem;
  background-color: #f3c9d3;
  color: #000;
}
