* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

:root {
  --heading-background-color:#F17E7E;
  --heading-text-color:#0A0A0A;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgba(127, 26, 87, 0.7);
  --font-size: 1.2rem;
}

nav {
    background-color:var(--heading-background-color);
    padding:var(--padding);
    display: flex;
    padding:1rem;
    align-items: center;
    justify-content: space-evenly;
}
nav a {
    color:var(--heading-text-color);
    display:block;
    padding:0.1rem;
    font-family: var(--heading-font);
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: 700;
}
h1 {
    color:darkblue;
    text-align: center;
    border-bottom: 1px solid black;
}

main {
    margin: 1rem;
}

main img {
    display: block;
    width:150px;
    height:auto;
    border:1px solid black;
    padding:2px;
    box-shadow: 0 0 30px grey;
    float:right;
}

p {
    padding:0;
    font-size: var(--font-size);
    font-weight: 100;
}

aside {
    width:0 auto;
}

aside h2 {
    position:relative;
    left:70px;
    top:25px;
    font-family:var(--heading-font);
    font-size: var(--font-size);
}
aside img {
    width:200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border: var(--border); 
    text-align: center;
    padding:var(--padding);
    clear: both;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(255, 0, 0, 0.1);
  padding: 1rem;
  background-color: var(--heading-background-color);
  color: #000;
}
.box li {
    list-style-type: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:0.5rem;
}
aside {
    order: -1;
}
